<div class="container">
  <h1>Heaviest sphere finder</h1>
  <div class="wrapper">
    <div class="image-container">
      <img src="./../assets/img/balance_41848_lg.gif" alt="scales image" />
    </div>
    <div *ngIf="spheres" class="random-sphere-container">
      <h4>7 Random Spheres</h4>
      <ol>
        <li *ngFor="let sphere of spheres">
          Sphere with weight {{ sphere.weight }}
        </li>
      </ol>
    </div>
  </div>
  <button (click)="find()">{{ result ? 'Rerun with new set' : 'Find' }}</button>
  <div class="output" *ngIf="scales.actions.length > 0">
    <h4>Actions taken</h4>
    <ol>
      <li *ngFor="let action of scales.actions">{{ action }}</li>
    </ol>
  </div>
  <div class="result" *ngIf="result">{{ result }}</div>
</div>
